/* grid */
body {
  padding: 80px 0 0;
}

/* фіксоване меню */
#header {
  height: 81px;
  background: var(--dark);
  position: fixed;
  top: -1px;
  left: 0;
  z-index: 12;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 180px 935px repeat(3, 30px) 1fr;
  align-items: center;
}

#header::after,
#header::before {
  content: '';
}

@media(max-width: 1240px) {
  #header {
    grid-template-columns: 1fr;
  }

  #header::after,
  #header::before {
    display: none;
  }

  /* елементи отримують абсолютне позиціонування */
  #logo,
  #search,
  #phone,
  #lang {
    position: absolute !important;
    z-index: 9;
  }

  #logo {
    top: 10px;
    left: 50%;
    margin-left: -90px;
  }

  #search {
    top: 32px;
    left: 10px;
  }

  #phone {
    top: 32px;
    left: 40px;
  }

  #lang {
    top: 32px;
    left: 70px;
  }
}

@media(max-width: 420px) {
  #logo {
    background: url('../images/logo-mobile.png') !important;
    background-size: 100px !important;
    width: 100px !important;
    margin-left: -50px;
  }
}

/* //////
home page
////// */

/* 6 блоків червоного кольору */
#welcome {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

@media(max-width: 991px) {
  #welcome {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
  }
}

@media(max-width: 776px) {
  #welcome {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 420px) {
  #welcome {
    grid-template-columns: 1fr;
  }
}

#welcome article {
  height: 350px;
  padding: 60px 10px 10px;
  text-align: center;
}

@media(max-width: 776px) {
  #welcome article {
    height: 260px;
    padding: 30px 10px 10px;
  }
}

/* про нас на головній */
#about {
  padding: 80px 0;
  background: var(--white);
}

#about article {
  width: 1140px;
  margin: auto;
}

@media(max-width: 1200px) {
  #about article {
    width: 95%;
  }
}

#about::after,
#about::before {
  content: '';
}

/* блок 4 новин на головній */
#home-news {
  padding: 80px 0;
}

/* 4 news */
#home-news>section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 1140px;
  margin: auto;
}

@media(max-width: 1200px) {
  #home-news>section {
    width: 95%;
  }
}

@media(max-width: 991px) {
  #home-news>section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 460px) {
  #home-news>section {
    grid-template-columns: 1fr;
  }
}

/* колбек на головній  */
#callback {
  height: 200px;
}

@media(max-width: 460px) {
  #callback {
    height: auto;
  }
}

#callback article{
  display: grid;
  grid-template-columns: 1fr repeat(2, 600px) 1fr;
  align-items: center;
  width: 100%;
  height: 200px;
}

@media(max-width: 1240px) {
  #callback article {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 776px) {
  #callback article {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 460px) {
  #callback article {
    height: auto;
  }
}

#callback article::after,
#callback article::before {
  content: '';
}

@media(max-width: 1240px) {

  #callback article::after,
  #callback article::before {
    display: none;
  }
}

/* ///////
inner page
/////// */

/* заголовок (назва сторінки) */
#page-title {
  width: 1200px;
  margin: 40px auto 20px;
}

@media(max-width: 1240px) {
  #page-title {
    width: 95%;
  }
}

#page-title h1 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1;
}

/* хлібні крихти */
#breadcrumbs {
  width: 1200px;
  margin: 10px auto;
  display: block;
}

@media(max-width: 1240px) {
  #breadcrumbs {
    width: 95%;
  }
}

/* сторінка товару -- хедер з фоновою картинкою */
#item-header {
  text-align: center;
  color: var(--white);
}

#item-header .levus-parallax {
  padding: 50px 0;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
  background: url('../images/header.jpg');
}

#item-header #page-title {
  margin: auto;
}

#item-header #page-title h1 {
  color: var(--white);
  font-size: 44px;
  line-height: 56px;
  font-weight: 400;
  margin-bottom: 0;
}

/* вміст сторінки товару */
#item {
  width: 1200px;
  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  grid-template-areas:
    'item-img item-desc item-delivery'
    'item-view item-view item-view'
    'item-table item-table item-table'
    'item-form item-form item-form';
  grid-gap: 10px;
}

@media(max-width: 1240px){
  #item{
    width: 95%;
  }
}

@media(max-width: 776px){
  #item{
    grid-template-columns: 1fr;
    grid-template-areas:
    'item-img'
    'item-desc'
    'item-delivery'
    'item-view'
    'item-table'
    'item-form';
  }
}

/* картинка вгорі зліва */
#item-img {
  grid-area: item-img;
}

/* текст вгорі в середині */
#item-desc {
  grid-area: item-desc;
}

/* доставка вгорі справа*/
#item-delivery {
  grid-area: item-delivery;
  margin: 0 0 0 15px;
}

@media(max-width: 776px){
  #item-delivery{
    margin: 15px 0 0;
  }
}

/* текст по центру */
#item-view {
  grid-area: item-view;
  margin: 20px 0 0 0;
}

/* текст по центру */
#item-table {
  grid-area: item-table;
}

/* форма внизу */
#item-form {
  grid-area: item-form;
}

/* блоки на всю ширину */
#item-view,
#item-table,
#item-form {
  /* для таблиць */
  overflow: hidden;
}

/* форма */
#form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'form-label-1 form-label-2 form-label-3' 
    'form-label-4 form-label-4 form-label-4'
    'form-input form-input form-input';
  grid-gap: 10px;
}

@media(max-width: 776px){
  #form{
    grid-template-columns: 1fr;
    grid-template-areas: 
      'form-label-1'
      'form-label-2'
      'form-label-3'
      'form-label-4'
      'form-input'
  }
}

#form label:nth-child(1){
  grid-area: form-label-1;
}
#form label:nth-child(2){
  grid-area: form-label-2;
}
#form label:nth-child(3){
  grid-area: form-label-3;
}
#form label:nth-child(4){
  grid-area: form-label-4;
}
#form p{
  grid-area: form-input;
}

/* основний вміст сторінки */
#main {
  margin: 20px auto;
  width: 1200px;
  padding: 60px 20px;
}

@media(max-width: 1240px) {
  #main {
    width: 95%;
  }
}

/* ////////
single page
//////// */

#main-content{
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'main-content-1 main-content-2 main-content-3';
  grid-gap: 10px;
}

@media(max-width: 991px){
  #main-content{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'main-content-1 main-content-1' 
      'main-content-2 main-content-3' 
  }
}

@media(max-width: 640px){
  #main-content{
    grid-template-columns: 1fr;
    grid-template-areas:
      'main-content-1' 
      'main-content-2' 
      'main-content-3' 
  }
}

#main-content section:nth-of-type(1){
  grid-area: main-content-1;
}
#main-content section:nth-of-type(2){
  grid-area: main-content-2;
}
#main-content section:nth-of-type(3){
  grid-area: main-content-3;
}


/* 3 фото внизу сторінки */
.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px 0;
}

@media(max-width: 776px){
  .gallery{
    grid-template-columns: 1fr;
  }
}


/* вміст сторінки з переліком */
#catalog {
  margin: 20px auto;
  width: 1200px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media(max-width: 1240px) {
  #catalog {
    width: 95%;
  }
}

@media(max-width: 776px) {
  #catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 420px) {
  #catalog {
    grid-template-columns: 1fr;
  }
}

/* ////////
subcategory 
//////// */

#subcategory-image{
  width: 50%;
  float: left;
  margin: 0 20px 20px 0;
}

@media(max-width: 776px){
  #subcategory-image{
    width: 100%;
    float: none;
    margin: 0 0 20px;
  }
}

/* //////////
all news page 
////////// */

/* блок 4 новин на головній */
#news {
  padding: 80px 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 1200px;
  margin: auto;
}

@media(max-width: 1240px) {
  #news {
    width: 95%;
  }
}

@media(max-width: 991px) {
  #news {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 460px) {
  #news {
    grid-template-columns: 1fr;
  }
}

/* пiдвал */
#footer {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr repeat(4, 300px) 1fr;
}

@media(max-width: 1240px) {
  #footer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 1240px) {
  #footer div{
    padding: 0 10px;
  }
}

@media(max-width: 776px) {
  #footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 460px) {
  #footer {
    grid-template-columns: 1fr;
    padding: 30px 10px;
  }
}

#footer::after,
#footer::before {
  content: '';
}

@media(max-width: 1240px) {

  #footer::after,
  #footer::before {
    display: none;
  }
}

/* цопірайти */
#copyright {
  padding: 30px 0;
  text-align: center;
}