.levus-parallax{
  width: 100%;
  height: 200px;
  background-repeat: no-repeat!important;
  background-position-x: center!important;
}

.levus-parallax:nth-child(1){
  background: url('https://kalvis.levus.info/templates/duncan/images/callback.jpg');
}
